:root {
  --main-bg-color: #23272f;
  --text-color: #fff;
  --btn-bg-color: #383b3f;
  --btn-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #fff;
    --text-color: #000;
    --btn-bg-color: #16444f;
    --btn-text-color: #57c4dc;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #23272f;
    --text-color: #fff;
    --btn-bg-color: #383b3f;
    --btn-text-color: #fff;
  }
}
